<div style="display: grid;">
    <h1 class="display-4 heading" style="grid-column-start: 1; grid-column-end: 5;">Dein Fortschritt in der Challenge
        &nbsp; <strong> <%= challengeData.aname %> </strong> </h1>
    <a href="/dashboard" class="btn btn-secondary" style="height: 20%; grid-column: 6;"> Zurück zur Übersicht</a>
</div>    



<div class="container" >
    <div style="text-align: left; background-color: var(--decent-green); border-radius: 5px;">
        Läuft vom: <b><%= challengeData.date_start %></b> bis: <b><%= challengeData.date_end %></b>
        &nbsp; &nbsp; NOCH <%= challengeData.daysleft %> Tage
    </div>

    <div style="padding-top: 20px; padding-bottom: 20px;">
        <a class="display-4" style="font-size: 20px;">Deine Eingaben</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="table">
        <thead class="thead-dark">
            <tr>
                <th style="display: none;">#</th>
                <th>Start Zeitraum</th>
                <th>Ende Zeitraum</th>
                <th>Wert [Tage]</th>
                <!-- <th class="col-1">Ändern</th>
                <th class="col-1">Löschen</th> -->
            </tr>
        </thead>
        <tbody>
            <% var i %>
            <% inputs.forEach(input => { %>
            <% i++ %> 
            <tr>
                <th scope="row" style="display: none;"><%= i %></th>
                <!-- <td class="col-5"><%= input.e_date_start %></td> -->
                <td class="tabledit-view-mode" style="cursor: pointer;">
                    <span class="tabledit-span"><%= input.e_date_start %></span>
                    <!-- TODO: Add Dtaepicker as input -->
                    <input class="tabledit-input form-control input-sm" type="date" name="date" value="0" style="display: none;" disabled="">
                </td>
                <td class="tabledit-view-mode" style="cursor: pointer;">
                    <span class="tabledit-span"><%= input.e_date_end %></span>
                    <!-- TODO: Add Dtaepicker as input -->
                    <input class="tabledit-input form-control input-sm" type="date" name="date" value="0" style="display: none;" disabled="">
                </td>

                <!-- <td class="col-5 tabledit-view-mode" style="cursor: pointer;"><%= input.value %></td> -->

                <td class="tabledit-view-mode" style="cursor: pointer;">
                    <span class="tabledit-span"><%= input.value %></span>
                    <input class="tabledit-input form-control input-sm" type="number" name="value" value="0" style="display: none;" disabled="">
                </td>

                <!-- <td class="col-1"> <button type="button" class="btn btn-secondary btn-rounded btn-sm my-0"><i class="fas fa-pencil-alt"></i> </button></td>
                <td class="col-1">
                    <span class="table-remove"><button type="button"
                        class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                    </span>
                </td> -->
            </tr>  
            <% }) %>
        </tbody>
        <!-- TODO: Make summary row unaditable -->
        <!-- <tfoot>
            <tr>
                <th scope="row" style="display: none;"><%= i %></th>
                <td><%= challenge.entries.length %> Einträge</td>
                <td><%= challenge.progress.sum %> <%= challenge.info.unit %></td> 
            </tr> 
        </tfoot> -->
        </table>
    </div>
    
    <div style="text-align: right;">
        <button class="btn btn-primary table-add" id="add" data-toggle="modal" data-target="#newEntryModal-id-<%=challenge.info.challengeid%>">Eintrag hinzufügen</button>
    </div>

    <!-- <div class="divider"></div> -->

    
    <div class="heading-small">Der Fortschritt in Grafiken</div>
    <!-- TODO: aria-valuenow anhand der Eintragungen zur entsprechenden Challenge berechnen -->
    <div class="progress">
        <div id="progress-bar" class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><%= challenge.progress.percentage  %> %</div>
    </div>



    <div>
        <div style =" display:flex; flex-direction:row; justify-content:center;">
            <div class="top-container" style="height:600px; width: 95%;">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                        aria-selected="true">Eintragungen</a>
                        <!-- hier kommen die eingaben sortiert nach nutzer und datum rein -->
                        <!-- außerdem eine datenreihe mit dem Challenge-Goal -->
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                        aria-selected="false">Fortschritt</a>
                        <!--  kann man sich sparen -->
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                        aria-selected="false">Aktivität</a>
                        <!-- hier kommen die Werte pro Person hin inkl. einer Linie, die das Ziel pro Person anzeigt -->
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="container">
                            <div class="row my-3">
                                <div class="col">
                                    <h4>Eintragungen</h4>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="chLine" height="100"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> 
                        <div class="container">
                            <div class="row my-3">
                                <div class="col">
                                    <h4>Fortschritt</h4>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="chLine2" height="100"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="container">
                            <div class="row my-3">
                                <div class="col">
                                    <h4>Aktivität</h4>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="chBar" height="100"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        
        </div>
    </div>
    
</div>

<div class="divider"style="bottom:0; position:relative;" ></div>

<!-- bottom part -->
<div class="bottom-container">
    <div height=100px style="text-align: center">Impressum</div>
</div>


<!-- Add Entry - Modal -->
<div class="modal fade" id="newEntryModal-id-<%=challenge.info.challengeid%>" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="addModalLabel"> Neuer Eintrag für <%=challenge.info.challengeName%></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- <img src="<%=challenge.image%>"class="img-fluid" alt="Responsive image"> -->

          <!-- <p class="font-weight-normal">
            <br>
            <%=challenge.infotext%>
          </p> -->

          <div class="form-group">
            <form id="challengeEntry-id-<%=challenge.info.challengeid%>" action="/challenge-view/entry?userid=<%=user.uid%>&challengeid=<%=challenge.info.challengeid%>" method="post">
                
                <div class="form-group">
                    <label for="date_start"><strong>Zeitraum:</strong>
                        <i class="fa fa-calendar input-prefix"></i>
                    </label>
                    <input placeholder="Start Tag" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date_start" name="date_start" data-date-format="dd/mm/yyyy" />
                    <input placeholder="Ende Tag" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date_end" name="date_end" data-date-format="dd/mm/yyyy" />
                </div>    
                <div class="form-group">
                    <label for="goal"><strong>Eintrag:</strong></label>
                    <!-- TODO: make input variable - according to input type of challenge -->
                    <input type="number" class="form-control" name="entry" id="entry" aria-describedby="entryHelp" placeholder="z.B. 1" min="1" max="1" required>
                    <small id="entryHelp" class="form-text text-muted">Gib deinen Fortschritt in [<%=challenge.info.unit%>] an.</small>
                </div>
                
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Zurück</button>
          <button class="btn btn-success" form="challengeEntry-id-<%=challenge.info.challengeid%>" type="submit">Eintrag hinzufügen</button>
        </div>
      </div>
    </div>
  </div>