<div class="jumbotron text-center">
  <h2 class="align-middle">Wähle deine nächste Challenge!</h1>
</div>

<div>
    <!-- top part -->
    <div class="top-container" style="height: 600px;">
    <!-- TODO: list challenges, loaded from DB -->
    <!-- TODO: scrolling trough challenges -->
    <div style="display: flex;flex-direction: column;">

        <div class="container-fluid">
            <div class="row">
            <% challenges.forEach(challenge => { %>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <!-- für die Icons könnte auch noch eine Spalte in der DB angelegt werden-->
                            <h5 class="card-title"><i class="<%=challenge.icon%>"></i> <%=challenge.aname%></h5>
                            <p class="card-text">
                                Hier könnten wir in der Datenbank noch eine Challenge-Beschreibung einfügen.
                            </p>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#acceptChallengeModal-id-<%=challenge.aid%>">
                                Challenge anschauen
                            </button>
                        </div>
                    </div>
                </div>
            <% }) %>
            </div>
        </div>
  </div>
  </div>
</div>
  
  <!-- Modal -->
  <% challenges.forEach(challenge => { %>
    <div class="modal fade" id="acceptChallengeModal-id-<%=challenge.aid%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel"><i class="<%=challenge.icon%>"></i> <%=challenge.aname%></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <img src="<%=challenge.image%>"class="img-fluid" alt="Responsive image">

            <p class="font-weight-normal">
              <br>
              <%=challenge.infotext%>
            </p>

            <div class="form-group">
              <div class="container">
                Start Date: <input id="startDate" width="276" />
                End Date: <input id="endDate" width="276" />
              </div>
              <form id="challengeGoal-id-<%=challenge.aid%>" action="/challenge/accept?userid=<%=user.uid%>&challengeid=<%=challenge.aid%>" method="post">
                <label for="goal"><strong>Ziel:</strong></label>
                <input type="number" name="challengeGoal" class="form-control" id="goal" aria-describedby="goalHelp" placeholder="<%=challenge.unit%>" min="<%=challenge.mingoal%>" max="<%=challenge.maxgoal%>" required>
                <small id="goalHelp" class="form-text text-muted">Setze dir selber ein Ziel, dass du erreichen möchtest.</small>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Zurück</button>
            <button class="btn btn-success" form="challengeGoal-id-<%=challenge.aid%>" type="submit">Challenge akzeptieren</button>
          </div>
        </div>
      </div>
    </div>
  <% }) %>

  <script>var abc= JSON.parse('<%- challenges %>');</script>

